<template>
  <main id="app" class="d-flex flex-column flex-sm-column flex-md-row py-5 col col-12 col-sm-12 bg">
    <div class="col col-12 col-sm-12 col-md-10">
      <CharacterCard />
    </div>
  </main>
</template>

<script>
import CharacterCard from '../components/Characters';

export default {
  name: 'IndexPage',
  components: {
    CharacterCard
  },
  data () {
    return {}
  }
}
</script>
